.head{
  background-color: #EAECEE !important;
}
body{
  background-color: white !important;
}

h1,h2{
  font-family: Biotif-Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 700;
}

p{
  font-family: 'montserrat' ;
  font-size: 2rem;
  font-weight: 200;
}


.logo-text{
  font-family: 'Yanone Kaffeesatz';
  font-weight: 700;
  font-size: 30px;
  margin-left: 7px;
}

.logo-img{
  margin-top: 7px;
}

.navbar-brand{
margin: 5px;

}

.social-icon{
  margin: 12px 20px 0;
  font-size: 15px;
  color: #d8ac9c;
}

#navbarNav{
position: relative;
padding-left: 20%;
}

.social{
  position: relative;
  border-right: 20px;
  border-left: 10px;
  padding-bottom: 10px;

}

.nav-link{
  font-family: 'montserrat';
  font-weight: 700;
  font-size: 1rem;
}
.nav-item{
  padding: 10px;
  margin:10px;
}

.dropdown-item{
  font-family: 'montserrat';
  font-weight: 200;
  font-size: 1rem;
}



/* INTRODUCTION */


.introduction{
 position: relative;
 padding-top: 1rem;
 border-radius: 1rem;
 margin: 4.5rem;
 background-color: #616A6B;
}

.intro-row{
margin: 2rem;
}
.intro-span{
  margin: 10%;
  font-size: 3rem;
}

.intro-h1{
  margin: 10%;
  font-size: 7.5rem;
}
.intro-p{
  margin: 10%;
}

.intro-text {
  width: 40%;
  float: left;
}

.intro-photos {
  width: 60%;
  float: right;
}

.intro-img{
  width: 100%;
  height: auto;
  border-radius:10px;
}

/* CAROUSEL */


#carouselExampleIndicators{
  background-color: #2C3E50 !important;
    border-radius:1rem;
    margin:20px 0;
}
.carousel-item{
  padding: 0 15%;
}


/* STORIA */


.container-storia{
  margin: 4rem 0;
  background-color: #045762  !important;
  border-radius:20px;
}


.storia-titolo{
  font-size: 4rem;
  padding: 5% 10%;
}

.storia-storia{
padding: 7% 10%;
}

/* FOOTER */

#footer{
  position: relative;
  margin: 5% 0;
  border: 5% 0;
  border-radius: 20px;
  background-color: #616A6B
}

.footer-text{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  margin: 10% 0;
}
.footer-div{
  padding: 5% 10%;
  border: 7% 0;
}
